In [1]:
!pip install alpha_vantage

Requirement already satisfied: alpha_vantage in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (2.3.1)
Requirement already satisfied: aiohttp in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from alpha_vantage) (3.8.4)
Requirement already satisfied: requests in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from alpha_vantage) (2.31.0)
Requirement already satisfied: attrs>=17.3.0 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from aiohttp->alpha_vantage) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from aiohttp->alpha_vantage) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from aiohttp->alpha_vantage) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from aiohttp->alpha_vantage) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from aiohttp->alpha_vantage) (1.8.2)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from aiohttp->alpha_vantage) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from aiohttp->alpha_vantage) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from requests->alpha_vantage) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from requests->alpha_vantage) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/zubeirsaid/opt/anaconda3/lib/python3.9/site-packages (from requests->alpha_vantage) (2022.9.24)

In [63]:
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

In [186]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
data = pd.read_html(url)
table = data[0]
tickers_list = table['Symbol'].tolist()

tickers_array = np.array(tickers_list)
tickers_array_sorted = np.sort(tickers_array)

In [187]:
tickers_array_sorted

array(['A', 'AAL', 'AAPL', 'ABBV', 'ABNB', 'ABT', 'ACGL', 'ACN', 'ADBE',
       'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES', 'AFL', 'AIG',
       'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE', 'AMAT',
       'AMCR', 'AMD', 'AME', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANET', 'ANSS',
       'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE', 'ATO', 'AVB',
       'AVGO', 'AVY', 'AWK', 'AXON', 'AXP', 'AZO', 'BA', 'BAC', 'BALL',
       'BAX', 'BBWI', 'BBY', 'BDX', 'BEN', 'BF.B', 'BG', 'BIIB', 'BIO',
       'BK', 'BKNG', 'BKR', 'BLK', 'BMY', 'BR', 'BRK.B', 'BRO', 'BSX',
       'BWA', 'BX', 'BXP', 'C', 'CAG', 'CAH', 'CARR', 'CAT', 'CB', 'CBOE',
       'CBRE', 'CCI', 'CCL', 'CDAY', 'CDNS', 'CDW', 'CE', 'CEG', 'CF',
       'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA',
       'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COO',
       'COP', 'COR', 'COST', 'CPB', 'CPRT', 'CPT', 'CRL', 'CRM', 'CSCO',
       'CSGP', 'CSX', 'CTAS', 'CTLT', 'CTRA', 'CTSH', 'CTVA', 'CVS',
       'CVX', 'CZR', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI',
       'DHR', 'DIS', 'DLR', 'DLTR', 'DOV', 'DOW', 'DPZ', 'DRI', 'DTE',
       'DUK', 'DVA', 'DVN', 'DXCM', 'EA', 'EBAY', 'ECL', 'ED', 'EFX',
       'EG', 'EIX', 'EL', 'ELV', 'EMN', 'EMR', 'ENPH', 'EOG', 'EPAM',
       'EQIX', 'EQR', 'EQT', 'ES', 'ESS', 'ETN', 'ETR', 'ETSY', 'EVRG',
       'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG', 'FAST', 'FCX',
       'FDS', 'FDX', 'FE', 'FFIV', 'FI', 'FICO', 'FIS', 'FITB', 'FLT',
       'FMC', 'FOX', 'FOXA', 'FRT', 'FSLR', 'FTNT', 'FTV', 'GD', 'GE',
       'GEHC', 'GEN', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GNRC', 'GOOG',
       'GOOGL', 'GPC', 'GPN', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN',
       'HCA', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOLX', 'HON', 'HPE',
       'HPQ', 'HRL', 'HSIC', 'HST', 'HSY', 'HUBB', 'HUM', 'HWM', 'IBM',
       'ICE', 'IDXX', 'IEX', 'IFF', 'ILMN', 'INCY', 'INTC', 'INTU',
       'INVH', 'IP', 'IPG', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW',
       'IVZ', 'J', 'JBHT', 'JCI', 'JKHY', 'JNJ', 'JNPR', 'JPM', 'K',
       'KDP', 'KEY', 'KEYS', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX',
       'KO', 'KR', 'KVUE', 'L', 'LDOS', 'LEN', 'LH', 'LHX', 'LIN', 'LKQ',
       'LLY', 'LMT', 'LNT', 'LOW', 'LRCX', 'LULU', 'LUV', 'LVS', 'LW',
       'LYB', 'LYV', 'MA', 'MAA', 'MAR', 'MAS', 'MCD', 'MCHP', 'MCK',
       'MCO', 'MDLZ', 'MDT', 'MET', 'META', 'MGM', 'MHK', 'MKC', 'MKTX',
       'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MOH', 'MOS', 'MPC', 'MPWR',
       'MRK', 'MRNA', 'MRO', 'MS', 'MSCI', 'MSFT', 'MSI', 'MTB', 'MTCH',
       'MTD', 'MU', 'NCLH', 'NDAQ', 'NDSN', 'NEE', 'NEM', 'NFLX', 'NI',
       'NKE', 'NOC', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA',
       'NVR', 'NWS', 'NWSA', 'NXPI', 'O', 'ODFL', 'OKE', 'OMC', 'ON',
       'ORCL', 'ORLY', 'OTIS', 'OXY', 'PANW', 'PARA', 'PAYC', 'PAYX',
       'PCAR', 'PCG', 'PEAK', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR',
       'PH', 'PHM', 'PKG', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'PODD',
       'POOL', 'PPG', 'PPL', 'PRU', 'PSA', 'PSX', 'PTC', 'PWR', 'PXD',
       'PYPL', 'QCOM', 'QRVO', 'RCL', 'REG', 'REGN', 'RF', 'RHI', 'RJF',
       'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTX', 'RVTY',
       'SBAC', 'SBUX', 'SCHW', 'SEDG', 'SEE', 'SHW', 'SJM', 'SLB', 'SNA',
       'SNPS', 'SO', 'SPG', 'SPGI', 'SRE', 'STE', 'STLD', 'STT', 'STX',
       'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYY', 'T', 'TAP', 'TDG',
       'TDY', 'TECH', 'TEL', 'TER', 'TFC', 'TFX', 'TGT', 'TJX', 'TMO',
       'TMUS', 'TPR', 'TRGP', 'TRMB', 'TROW', 'TRV', 'TSCO', 'TSLA',
       'TSN', 'TT', 'TTWO', 'TXN', 'TXT', 'TYL', 'UAL', 'UDR', 'UHS',
       'ULTA', 'UNH', 'UNP', 'UPS', 'URI', 'USB', 'V', 'VFC', 'VICI',
       'VLO', 'VLTO', 'VMC', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VTRS', 'VZ',
       'WAB', 'WAT', 'WBA', 'WBD', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR',
       'WM', 'WMB', 'WMT', 'WRB', 'WRK', 'WST', 'WTW', 'WY', 'WYNN',
       'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS'],
      dtype='<U5')

In [280]:
remaining = [
'VLTO'
            ]

In [281]:
last_hurrah = np.array(remaining)

In [282]:
last_hurrah

array(['VLTO'], dtype='<U4')

In [50]:
import requests
import pandas as pd
import time

API_URL = "https://www.alphavantage.co/query"
API_KEY = 'JFUJ5ADJL1XCA282'#"T4OUVH0IXFEKGNJA" (said.zubeir api)
count = 0
tickers_batch_6 = tickers_array_sorted[453:]

def fetch_data_for_ticker(ticker):
    
    # Get overview data
    params = {
        "function": "OVERVIEW",
        "symbol": ticker,
        "apikey": API_KEY
    }
    response = requests.get(API_URL, params=params)
    if response.status_code != 200:
        print(f"Error for ticker {ticker}: {response.text}")
        return [ticker, "N/A", "N/A", "N/A", "N/A"]
    data = response.json()
    
    if "Note" in data:
        print(data["Note"])
        time.sleep(60)  
        return fetch_data_for_ticker(ticker) 
    
    # Extract relevant data with checks
    ticker_price = 'N/A'
    market_cap = data.get('MarketCapitalization', 'N/A')
    exchange = data.get('Exchange', 'N/A')
    outstanding_shares = data.get('SharesOutstanding', 'N/A')
    
    print([ticker, ticker_price, market_cap, exchange, outstanding_shares])
    return [ticker, ticker_price, market_cap, exchange, outstanding_shares]

#data_list = []
data_list_batch_6 = []
for ticker in tickers_batch_6:
    data_list_batch_6.append(fetch_data_for_ticker(ticker))
    time.sleep(15)  
    count+=1
    print(count)

df = pd.DataFrame(data_list, columns=["Ticker", "Ticker Price", "Market Cap", "Exchange", "Outstanding Shares"])

print(df)

['TYL', 'N/A', '16157265000', 'NYSE', '42078400']
1
['UAL', 'N/A', '12965049000', 'NASDAQ', '327980000']
2
['UDR', 'N/A', '12775857000', 'NYSE', '329480000']
3
['UHS', 'N/A', '8748705000', 'NYSE', '62140000']
4
['ULTA', 'N/A', '19064269000', 'NASDAQ', '49228600']
5
['UNH', 'N/A', '498379915000', 'NYSE', '926305000']
6
['UNP', 'N/A', '128491610000', 'NYSE', '609456000']
7
['UPS', 'N/A', '133849588000', 'NYSE', '723276000']
8
['URI', 'N/A', '30117452000', 'NYSE', '68283000']
9
['USB', 'N/A', '50788360000', 'NYSE', '1556970000']
10
['V', 'N/A', '499297616000', 'NYSE', '1606790000']
11
['VFC', 'N/A', '6295773000', 'NYSE', '388868000']
12
['VICI', 'N/A', '29328665000', 'NYSE', '1013430000']
13
['VLO', 'N/A', '45624783000', 'NYSE', '353133000']
14
['VLTO', 'N/A', 'N/A', 'N/A', 'N/A']
15
['VMC', 'N/A', '28305773000', 'NYSE', '132866000']
16
['VRSK', 'N/A', '35171951000', 'NASDAQ', '145027000']
17
['VRSN', 'N/A', '21779837000', 'NASDAQ', '103134000']
18
['VRTX', 'N/A', '96527532000', 'NASDAQ', '258095000']
19
['VTR', 'N/A', '17535633000', 'NYSE', '402378000']
20
['VTRS', 'N/A', '11191614000', 'NASDAQ', '1199530000']
21
['VZ', 'N/A', '131376251000', 'NYSE', '4204040000']
22
['WAB', 'N/A', '18774614000', 'NYSE', '179130000']
23
['WAT', 'N/A', '15081287000', 'NYSE', '59103000']
24
['WBA', 'N/A', '19679984000', 'NASDAQ', '863915000']
25
['WBD', 'N/A', '25275632000', 'NASDAQ', '2437380000']
26
['WDC', 'N/A', '14829634000', 'NASDAQ', '324145000']
27
['WEC', 'N/A', '26376675000', 'NYSE', '315435000']
28
['WELL', 'N/A', '44169773000', 'NYSE', '518729000']
29
['WFC', 'N/A', '151519789000', 'NYSE', '3637930000']
30
['WHR', 'N/A', '6938289000', 'NYSE', '54818000']
31
['WM', 'N/A', '64744632000', 'NYSE', '405059000']
32
['WMB', 'N/A', '43462685000', 'NYSE', '1216420000']
33
['WMT', 'N/A', '433906385000', 'NYSE', '2691560000']
34
['WRB', 'N/A', '16741572000', 'NYSE', '257523000']
35
['WRK', 'N/A', '9494603000', 'NYSE', '256403000']
36
['WST', 'N/A', '28657777000', 'NYSE', '73861000']
37
['WTW', 'N/A', '21789557000', 'NASDAQ', '104823000']
38
['WY', 'N/A', '21980901000', 'NYSE', '730748000']
39
['WYNN', 'N/A', '10337414000', 'NASDAQ', '113936000']
40
['XEL', 'N/A', '32849306000', 'NASDAQ', '551533000']
41
['XOM', 'N/A', '435723043000', 'NYSE', '3962920000']
42
['XRAY', 'N/A', '6681778000', 'NASDAQ', '211716000']
43
['XYL', 'N/A', '22132185000', 'NYSE', '240829000']
44
['YUM', 'N/A', '33190994000', 'NYSE', '280211000']
45
['ZBH', 'N/A', '21951668000', 'NYSE', '208964000']
46
['ZBRA', 'N/A', '11036216000', 'NASDAQ', '51338000']
47
['ZION', 'N/A', '5321368000', 'NASDAQ', '148145000']
48
['ZTS', 'N/A', '80638329000', 'NYSE', '460317000']
49

NameError: name 'data_list' is not defined

In [ ]:
# IMEDDIATELY SAVE THE DATAFRAME TO A CSV FILE

In [34]:
#data_list

In [35]:
a_to_cday = pd.DataFrame(data_list,columns=["Ticker","Price","Market Cap", "Exchange", "Outstanding Shares"])
a_to_cday = a_to_cday.iloc[:-7]
a_to_cday.shape

In [47]:
a_to_cday.to_csv('a_to_cday.csv', index=False)

In [7]:
cdns_to_fico = pd.DataFrame(data_list_batch_2,columns=["Ticker","Price","Market Cap", "Exchange", "Outstanding Shares"])
cdns_to_fico = cdns_to_fico.iloc[:-11]
cdns_to_fico.tail()

In [11]:
cdns_to_fico.tail()

    Ticker Price   Market Cap Exchange Outstanding Shares
96     FDX   N/A  62241534000     NYSE          251420000
97      FE   N/A  20732768000     NYSE          573362000
98    FFIV   N/A   9129628000   NASDAQ           59306000
99      FI   N/A  69240070000     NYSE          609615000
100   FICO   N/A  22038393000     NYSE           24857200

In [13]:
cdns_to_fico.to_csv('cdns_to_fico.csv', index=False)

In [18]:
fis_to_lw = pd.DataFrame(data_list_batch_3,columns=["Ticker","Price","Market Cap", "Exchange", "Outstanding Shares"])

In [26]:
fis_to_lw = fis_to_lw.iloc[:-1]

In [31]:
fis_to_lw = fis_to_lw.drop(fis_to_lw.index[0])

In [30]:
df.head()

  Ticker Price   Market Cap Exchange Outstanding Shares
1    FIS   N/A  31163660000     NYSE          592465000
2   FITB   N/A  16811150000   NASDAQ          680889000
3    FLT   N/A  18484912000     NYSE           73957000
4    FMC   N/A   8010418000     NYSE          124734000
5    FOX   N/A  14783288000   NASDAQ          235581000

In [32]:
fis_to_lw.head()

  Ticker Price   Market Cap Exchange Outstanding Shares
1    FIS   N/A  31163660000     NYSE          592465000
2   FITB   N/A  16811150000   NASDAQ          680889000
3    FLT   N/A  18484912000     NYSE           73957000
4    FMC   N/A   8010418000     NYSE          124734000
5    FOX   N/A  14783288000   NASDAQ          235581000

In [33]:
fis_to_lw.to_csv("fis_to_lw.csv",index=False)

In [40]:
lyb_to_pypl = pd.DataFrame(data_list_batch_4,columns=["Ticker","Price","Market Cap", "Exchange", "Outstanding Shares"])

In [42]:
lyb_to_pypl = lyb_to_pypl.iloc[:-9]

In [43]:
lyb_to_pypl.tail()

   Ticker Price   Market Cap Exchange Outstanding Shares
95    PSX   N/A  49774293000     NYSE          445288000
96    PTC   N/A  17161862000   NASDAQ          118833000
97    PWR   N/A  25610201000     NYSE          145199000
98    PXD   N/A  57996153000     NYSE          233141000
99   PYPL   N/A  62588285000   NASDAQ         1098040000

In [44]:
lyb_to_pypl.to_csv("lyb_to_pypl.csv",index=False)

In [47]:
qcom_to_txt = pd.DataFrame(data_list_batch_5,columns=["Ticker","Price","Market Cap", "Exchange", "Outstanding Shares"])

In [48]:
qcom_to_txt.head()

  Ticker Price    Market Cap Exchange Outstanding Shares
0   QCOM   N/A  123329159000   NASDAQ         1116000000
1   QRVO   N/A    9029297000   NASDAQ           97910000
2    RCL   N/A   22210198000     NYSE          256173000
3    REG   N/A   10855365000   NASDAQ          181057000
4   REGN   N/A   91586879000   NASDAQ          106741000

In [49]:
qcom_to_txt.to_csv("qcom_to_txt.csv",index=False)

In [52]:
tyl_to_zts = pd.DataFrame(data_list_batch_6,columns=["Ticker","Price","Market Cap", "Exchange", "Outstanding Shares"])

In [55]:
tyl_to_zts.tail()

   Ticker Price   Market Cap Exchange Outstanding Shares
44    YUM   N/A  33190994000     NYSE          280211000
45    ZBH   N/A  21951668000     NYSE          208964000
46   ZBRA   N/A  11036216000   NASDAQ           51338000
47   ZION   N/A   5321368000   NASDAQ          148145000
48    ZTS   N/A  80638329000     NYSE          460317000

In [56]:
tyl_to_zts.to_csv("tyl_to_zts.csv",index=False)

In [181]:
#data_list_batch_6

In [183]:
API_KEY = 'T4OUVH0IXFEKGNJA'

def fetch_data_for_ticker(ticker):
    data_dict = {'Ticker': ticker}
    
    monthly_adjusted_series = {}
    income_endpoint = f"https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={ticker}&apikey={API_KEY}"
    response = requests.get(income_endpoint)
    income_data = response.json()
    
    if 'quarterlyReports' in income_data:
        quarterly_reports = income_data['quarterlyReports']
        for i in range(8):  
            quarter_key = f"Q{i+1}_NetIncome"
            data_dict[quarter_key] = quarterly_reports[i]['netIncome']
            
  
    monthly_volume_endpoint = f"https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol={ticker}&apikey={API_KEY}"
    response = requests.get(monthly_volume_endpoint)
    monthly_volume_data = response.json()
    
    if 'Monthly Adjusted Time Series' in monthly_volume_data:
        monthly_adjusted_series = monthly_volume_data['Monthly Adjusted Time Series']
        months = list(monthly_adjusted_series.keys())[:12]
        for i, month in enumerate(months):
            month_key = f"Month{i+1}_Volume"
            data_dict[month_key] = monthly_adjusted_series[month]['5. volume']
    
   
    oldest_date = list(monthly_adjusted_series.keys())[-1]
    data_dict['OldestDataDate'] = oldest_date 
    print(data_dict)
    return data_dict


tickers_array_sorted = [ ... ] 


df = pd.DataFrame()


for ticker in last_hurrah: #tickers_array_sorted:
    df = df.append(fetch_data_for_ticker(ticker), ignore_index=True)
    time.sleep(15)

IndexError: list index out of range

In [75]:
df.tail()

,Ticker,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,Q7_NetIncome,Q8_NetIncome,Month1_Volume,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
130,DD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,DFS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,DG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,DGX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
last_hurrah.shape

(87,)

In [283]:
import requests
import pandas as pd
import time

API_KEY = 'T4OUVH0IXFEKGNJA'

def fetch_data_for_ticker(ticker):
    data_dict = {'Ticker': ticker}
    
    monthly_adjusted_series = {}
    income_endpoint = f"https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={ticker}&apikey={API_KEY}"
    response = requests.get(income_endpoint)
    income_data = response.json()
    
    if 'quarterlyReports' in income_data:
        quarterly_reports = income_data['quarterlyReports']
        for i in range(min(8, len(quarterly_reports))): 
            quarter_key = f"Q{i+1}_NetIncome"
            data_dict[quarter_key] = quarterly_reports[i]['netIncome']

    monthly_volume_endpoint = f"https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol={ticker}&apikey={API_KEY}"
    response = requests.get(monthly_volume_endpoint)
    monthly_volume_data = response.json()
    
    if 'Monthly Adjusted Time Series' in monthly_volume_data:
        monthly_adjusted_series = monthly_volume_data['Monthly Adjusted Time Series']
        if monthly_adjusted_series:
            months = list(monthly_adjusted_series.keys())[:12]
            for i, month in enumerate(months):
                month_key = f"Month{i+1}_Volume"
                
                if '5. volume' in monthly_adjusted_series[month]:
                    data_dict[month_key] = monthly_adjusted_series[month]['5. volume']
                else:
                    data_dict[month_key] = None 
            oldest_date = list(monthly_adjusted_series.keys())[-1]
            data_dict['OldestDataDate'] = oldest_date 
    
    print(data_dict)
    return data_dict


df = pd.DataFrame()

for ticker in last_hurrah: #tickers_array_sorted[494:]:
    df = df.append(fetch_data_for_ticker(ticker), ignore_index=True)
    time.sleep(15)

{'Ticker': 'VLTO'}

/var/folders/n_/367n_sc56lj0q1ddbd82d5qw0000gn/T/ipykernel_93439/1494828473.py:47: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(fetch_data_for_ticker(ticker), ignore_index=True)

In [204]:
df = df.iloc[:15]

In [277]:
df.shape

(4, 22)

In [278]:
df.head()

,Ticker,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,Q7_NetIncome,Q8_NetIncome,Month1_Volume,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
0,BF-B,231000000,207000000,100000000,227000000,249000000,151000000,259000000,236000000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
1,BRK-B,35912000000,35504000000,18164000000,-2688000000,-43621000000,5580000000,39646000000,10344000000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
2,UHS,171313000,163115000,174820000,182814000,164062000,153913000,239124000,218351000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VLTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [264]:
df_sort = df.sort_values(by='Q1_NetIncome')

In [265]:
df_sort.shape

(8, 22)

In [267]:
df_sort.tail()

,Ticker,Month10_Volume,Month11_Volume,Month12_Volume,Month1_Volume,Month2_Volume,Month3_Volume,Month4_Volume,Month5_Volume,Month6_Volume,...,Month9_Volume,OldestDataDate,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,Q7_NetIncome,Q8_NetIncome
3,JKHY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1999-12-31,97773000,81549000,80775000,106549000,80426000,84707000,95670000,102114000
0,BF.B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BRK.B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,UHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,VLTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
df_sort = df_sort.iloc[:10]

In [242]:
df.tail(15)

,Ticker,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,Q7_NetIncome,Q8_NetIncome,Month1_Volume,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
60,PFE,2327000000,5543000000,4994000000,8608000000,9906000000,7864000000,3393000000,8146000000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
61,PH,708956000,590889000,395237000,387854000,128831000,348017000,387600000,451157000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
62,PM,1568000000,1995000000,2397000000,2087000000,2233000000,2331000000,2093000000,2426000000,None,...,None,None,None,None,None,None,None,None,None,2008-04-30
63,PPL,112000000,285000000,190000000,174000000,119000000,273000000,134000000,207000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,PTC,61398000,63504000,75035000,106837000,70476000,89679000,46089000,292943000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
65,QCOM,1803000000,1704000000,2235000000,2873000000,3730000000,2934000000,3399000000,2798000000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
66,ROL,110143000,88234000,88233000,107622000,101620000,73766000,71215000,93853000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,RTX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,SHW,793700000,477400000,386300000,685100000,577900000,370800000,304000000,502200000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
69,SNPS,336252000,272910000,271536000,153500000,222626000,294781000,313687000,201447000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,SRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,SYK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,TDG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,TGT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,TPR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:
df.head()

,Ticker,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,Q7_NetIncome,Q8_NetIncome,Month1_Volume,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
0,ABT,1375000000,1318000000,1033000000,1435000000,2018000000,2447000000,1989000000,2100000000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
1,ADI,877019000,977656000,961474000,936226000,748985000,783273000,280077000,75687000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
2,AFL,1634000000,1188000000,185000000,1596000000,1394000000,1047000000,1039000000,888000000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
3,AKAM,128816000,97106000,128762000,123694000,137840000,133376000,160534000,178916000,None,...,None,None,None,None,None,None,None,None,None,1999-12-31
4,ALL,-1352000000,-320000000,-284000000,-668000000,-1013000000,660000000,817000000,538000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [271]:
df.to_csv("remaining_3.csv",index=False)